.input-wrapper {
    margin: 1rem 0rem;
    width: 100%;
}

.input-wrapper p {
    margin-bottom: 0px;
    color: #000;
}

.input-wrapper input,
.custom-input {
    border: 0px;
    border-bottom: 1px solid #000;
    padding: 0.5rem 0rem;
    width: 100%;
    border-radius: 0;
}

.custom-input {
    margin-top: -1rem !important;
}

.input-wrapper input::placeholder,
.custom-input::placeholder {
    color: rgba(0, 0, 0, 0.5);
}

.input-wrapper input:focus,
.custom-input:focus {
    outline: none;
    opacity: 1;
    transition: all 0.3s;
}