.my-card{
    box-shadow: var(--shadow);
    margin: 1rem;
    margin-top: 8rem;
    border-radius: 0.5rem;
    min-width: 360px;
    flex:1;
    font-family: 'Montserrat', sans-serif !important;
}

.my-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;
    width: 90%;
    margin: 2rem auto;
    flex-wrap: wrap;
    gap: 16px;

}

.ant-card-head-title{
    margin: 0rem  !important;
    font-weight: 600;
}

.my-card p{
    margin: 0;

}